@import "compass";
@import "compass/css3";

body{
	background-color:#000000;
	color:#ffffff;
	font-family: brandon-grotesque, sans-serif;
}

.background-image{
	height:100%;
	width:100%;
	opacity:0;
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;
	@include transition(all 3s ease-in, all 3s ease-out);
	@include background-size(cover);
}

.background-image{
	&.show{
		opacity: 0.3;
	}
	&.hide{
		opacity: 0;
	}
}

.films-view{
	width:100%;
	margin: 30px 0 0 0;
	padding:0px;
	position:relative;
	li{
		position:relative;
		display:inline-block;
		margin-left: 2%;
		top:0px;
		z-index: 2;
		width: 14%;
		@include transition(all 0.3s ease-in, all 0.3s ease-out);
		.details{
			display: none;
		}
		img{
		 width: 100%;
		 @include border-radius(4px);
		}
	&.active{
			img{
				@include box-shadow(rgba(0,0,0,1), 0px, 0px, 6px);
				-moz-box-shadow: 0px 0px 6px rgba(0,0,0,1);
				-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,1);
				box-shadow: 0px 0px 6px rgba(0,0,0,1);
				
			}
		}
	&.disabled{
		opacity: 0.5;
		top:20px; 
	}
	&.next{
		position:absolute;
		top:0px;
	}
	&.prev{
		position:absolute;
		top:0px;
		left:200px;
	}
	}
	.close-link{
		display:none;
		position:absolute;
		left:140px;
		top:0;
		&.show{
			display: inline-block;
		}
	}
	.details{
	&.show{
	display:block;
	}
	}
}


@media screen and (max-width:700px) {
  .films-view{
  	li{
  		width: 43%;
  	}
  }
}
